<p-card
  [header]="'user.registration.headers.registration' | translate"
  [subheader]="'user.registration.headers.registration.description' | translate"
>
  <form #form="ngForm" (ngSubmit)="onSubmit($event)">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input pInputText type="text" name="usernameInput" #usernameInput="ngModel" [(ngModel)]="username"
             (ngModelChange)="usernameChanged.next($event)"
             aria-describedby="username-help" required minlength="3" maxlength="16" pattern="[A-Za-z][A-Za-z0-9_-]*$"
             [placeholder]="'user.registration.forms.username.caption' | translate">
    </div>
    <div id="username-help">
      <p-message *ngIf="usernameInput.errors?.required" severity="error"
                 [text]="'user.registration.forms.username.errors.required' | translate"></p-message>
      <p-message *ngIf="usernameInput.errors?.minlength" severity="error"
                 [text]="'user.registration.forms.username.errors.minlength' | translate"></p-message>
      <p-message *ngIf="usernameInput.errors?.pattern" severity="error"
                 [text]="'user.registration.forms.username.errors.pattern' | translate"></p-message>
      <p-message *ngIf="usernameTaken$ | async" severity="error"
                 [text]="'user.registration.forms.username.errors.nameTaken' | translate"></p-message>
      <div><small [textContent]="'user.registration.forms.username.description' | translate"></small></div>
      <div><small [textContent]="'user.registration.forms.username.restrictions' | translate"></small></div>
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
      <input pInputText type="email" name="emailInput" #emailInput="ngModel" [(ngModel)]="email"
             aria-describedby="email-help" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]+$"
             [placeholder]="'user.registration.forms.email.caption' | translate">
    </div>
    <div id="email-help">
      <p-message *ngIf="emailInput.errors?.required" severity="error"
                 [text]="'user.registration.forms.email.errors.required' | translate"></p-message>
      <p-message *ngIf="emailInput.errors?.pattern" severity="error"
                 [text]="'user.registration.forms.email.errors.pattern' | translate"></p-message>
      <div><small [textContent]="'user.registration.forms.email.description' | translate"></small></div>
    </div>

    <p id="documents">
      <button type="button" pButton [label]="'user.registration.forms.tos' | translate" (click)="tos.toggle($event)"
              icon="pi pi-paperclip"></button>
      <button type="button" pButton [label]="'user.registration.forms.privacyStatement' | translate"
              (click)="privacyStatement.toggle($event)" icon="pi pi-paperclip"></button>
    </p>

    <div class="p-field">
      <p-checkbox [binary]="true" name="ownsSteam" [(ngModel)]="acceptedOwnsSteam"
                  [label]="'user.registration.forms.ownsSteam.accepted' | translate"></p-checkbox>
    </div>
    <div class="p-field">
      <p-checkbox [binary]="true" name="tos" [(ngModel)]="acceptedTos"
                  [label]="'user.registration.forms.tos.accepted' | translate"></p-checkbox>
    </div>
    <div class="p-field">
      <p-checkbox [binary]="true" name="privacyStatement" [(ngModel)]="acceptedPrivacyStatement"
                  [label]="'user.registration.forms.privacyStatement.accepted' | translate"></p-checkbox>
    </div>
    <div class="p-field">
      <small [textContent]="'user.registration.forms.recaptcha' | translate"></small>
      <p-captcha [siteKey]="recaptchaSiteKey"></p-captcha>
    </div>

    <button pButton type="submit"
            [disabled]="!form.valid || !acceptedOwnsSteam || !acceptedPrivacyStatement || !acceptedTos
                        || (usernameTaken$ | async) || registrationComplete"
            [label]="'user.registration.forms.register' | translate"></button>


    <p-overlayPanel #tos [dismissable]="true" [showCloseIcon]="true">
      <ng-template pTemplate>
        <p-scrollPanel [style]="{width: '600px', height: '300px'}">
          <faf-tos></faf-tos>
        </p-scrollPanel>
      </ng-template>
    </p-overlayPanel>

    <p-overlayPanel #privacyStatement [dismissable]="true" [showCloseIcon]="true">
      <ng-template pTemplate>
        <p-scrollPanel [style]="{width: '600px', height: '300px'}">
          <faf-privacy-statement></faf-privacy-statement>
        </p-scrollPanel>
      </ng-template>
    </p-overlayPanel>

    <p-dialog [header]="'user.registration.forms.email.emailSent.header' | translate" modal="true"
              [(visible)]="confirmationDialogVisible" [style]="{width: '300px'}">
      <div><i class="pi pi-envelope" style="font-size: 10rem;"></i></div>
      <p translate="user.registration.forms.email.emailSent.details"></p>
      <p>{{"user.registration.forms.email.emailSent.notReceived" | translate}}
        <a href="" translate="user.registration.forms.email.emailSent.resend" (click)="form.onSubmit($event)"></a>
      </p>
    </p-dialog>

    <p-messages></p-messages>
  </form>
</p-card>
