<p-card
  [header]="'user.registration.headers.fafClientSetup' | translate"
  [subheader]="'user.registration.headers.fafClientSetup.description' | translate"
>
  <p-message severity="info"
             [text]="'user.registration.forms.fafClientSetup.install.faPresent' | translate"></p-message>

  <p-steps [model]="steps" [readonly]="false">
  </p-steps>

  <div *ngIf="activatedRoute.url | async as urlSegment">
    <faf-setup-download *ngIf="urlSegment[0].path == 'download'"
                        (operatingSystem)="operatingSystem = $event"></faf-setup-download>
    <faf-setup-install *ngIf="urlSegment[0].path == 'install'" [operatingSystem]="operatingSystem"></faf-setup-install>
    <faf-setup-login *ngIf="urlSegment[0].path == 'login'"></faf-setup-login>
    <faf-setup-configure *ngIf="urlSegment[0].path == 'configure'"></faf-setup-configure>
    <faf-setup-play *ngIf="urlSegment[0].path == 'play'"></faf-setup-play>
  </div>

</p-card>
