<p><i [innerHTML]="'user.registration.forms.translationHint' | translate:{'translationUrl': translationUrl}"></i></p>

<small>Effective date: May 25, 2018</small>

<h2>The short version</h2>
<p>We collect information that you choose to give us, along with other basic technical information about your
  system. We process this information with your consent when you create an account, or on another legal basis
  if you do not. We only require the minimum amount of personal information that is necessary to identify you
  for the purpose of your interaction with us, and we don’t sell it to third parties. Our exact use of your
  personal information is described in detail below.</p>
<p>We treat all our users the same, and everyone is processed by the same privacy policy regardless of their
  geographical location.</p>

<h2>The information we collect and why</h2>
<p>If you’re just browsing our website (faforever.com, wiki.faforever.com, forum.faforever.com or any website
  hosted on the faforever.com domain), we collect the same basic information that most websites collect. This
  information includes browser type, language preference, referring website and the date and time of each web
  request. In addition, we collect potentially personally-identifying information like IP-addresses.</p>
<p>This information is collected for the purpose of analytics, to better understand who visits our
  websites.</p>

<h2>If you’ve made an account and play the game on our servers</h2>
<p>To create an account on Forged Alliance Forever, we require some basic information to identify you. We
  require a valid email address, a nickname and to verify ownership of the account, we also require a
  password. This information will be referred to below as “User Personal Information”.</p>
<p>When you create a new account, you agree to our collection of this User Personal Information and processing
  of it as detailed here:</p>
<ul>
  <li>We need your User Personal Information to create your account and provide the service of hosting and
    joining online games.
  </li>
  <li>We use your User Personal Information to identify you when you interact with us.</li>
  <li>We will use your email address to communicate with you for the purposes of marketing, if you’ve said
    that’s okay.
  </li>
  <li>We will use your email address to communicate with you about important updates to our service.</li>
  <li>We use your User Personal Information for internal purposes, such as moderation, maintaining logs for
    security purposes and for legal documentation.
  </li>
  <li>If we need to use your User Personal Information for any reasons not listed here, we will ask for your
    permission before doing so.
  </li>
</ul>
<h2>Our legal basis for processing information</h2>
<p>Under the GDPR, we’re required to notify you about the legal basis on which we process User Personal
  Information.</p>
<p>When you create an account, we require your user name and email address to enter into the Terms of Service
  agreement with us, and we use this data as the basis of that contract. We also process your email address
  and user name on other legal bases. The remainder of information processing we do is necessary for the
  purposes of our legitimate interests. For example, for security purposes, we keep logs of hardware
  information unique to your machine, in order to identify malicious users trying to spoof their identify. If
  you would like to request erasure of your data, please email us at admin@faforever.com.</p>

<h2>Sharing of information</h2>
<p>We do not share your private information with any third parties for any reason, however your nickname as
  provided during account creation and changeable on the website is considered public, and is thus shared with
  other users in several instances during your use of our service.</p>
<p>We do not disclose any private information unless legally compelled to do so.</p>
<p>We do not host advertising on FAForever.com, but we may occasionally embed content from third-party sites,
  which may contain ads. Any ads that appear on FAForever.com are not sponsored, tracked or authored by
  FAForever.</p>
<p>We may share User Personal information if we are involved in a merger, sale or acquisition. If such change
  of ownership happens, it will be under the terms of use described in this document.</p>

<h2>Security</h2>
<p>We take all reasonable measures to protect your User Personal Information, by using industry standard
  security technologies. In the event of a data breach, we will notify you promptly.</p>

<h2>Resolving complaints</h2>
<p>If you have any concerns about how FAForever is handling your User Personal Information, please let us know
  immediately at <a href="mailto:admin@faforever.com">admin@faforever.com</a>.</p>

<h2>Changes to our Privacy Statement</h2>
<p>Most changes to this document are likely to be minor, but should they occur, we will notify you and provide
  at least 30 days of time prior to the changes taking effect.</p>

<h2>License</h2>
<p>This Privacy Statement is licensed under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative
  Commons Zero license</a>.</p>
