<p-card
  [header]="'user.registration.headers.activation' | translate"
  [subheader]="'user.registration.headers.activation.description' | translate"
>
  <p-message severity="warn" [escape]="false"
             *ngIf="!token"
             [text]="'user.registration.forms.activation.emailWarning' | translate"
  ></p-message>
  <p-message severity="error"
             *ngIf="!validToken"
             [text]="'user.registration.forms.activation.invalidToken' | translate"
  ></p-message>

  <form #form="ngForm" (ngSubmit)="onSubmit($event)">
    <h4 translate>user.registration.forms.activation.registrationData.header</h4>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input pInputText type="text" disabled name="usernameInput" [(ngModel)]="username"
             [placeholder]="'user.registration.forms.username.caption' | translate">
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
      <input pInputText type="email" disabled name="emailInput" [(ngModel)]="email"
             [placeholder]="'user.registration.forms.email.caption' | translate">
    </div>
    <div
      [innerHTML]="'user.registration.forms.activation.wrongDataHint' | translate:{'routerLink': '/registration' }"></div>

    <h4 translate>user.registration.forms.activation.password.header</h4>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
      <input pInputText type="password" name="passwordInput" #passwordInput="ngModel" [(ngModel)]="password"
             [disabled]="!token"
             aria-describedby="password-help" required minlength="8"
             [placeholder]="'user.registration.forms.password.caption' | translate">
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-replay"></i></span>
      <input pInputText type="password" name="passwordConfirmInput" #passwordConfirmInput="ngModel"
             [disabled]="!token"
             [(ngModel)]="passwordConfirm" aria-describedby="password-help"
             [placeholder]="'user.registration.forms.password.confirmCaption' | translate">
    </div>
    <div id="password-help">
      <p-message *ngIf="passwordInput.errors?.required" severity="error"
                 [text]="'user.registration.forms.password.errors.required' | translate"></p-message>
      <p-message *ngIf="passwordInput.errors?.minlength" severity="error"
                 [text]="'user.registration.forms.password.errors.minlength' | translate"></p-message>
      <p-message *ngIf="password !== passwordConfirm" severity="error"
                 [text]="'user.registration.forms.password.errors.notEqualsConfirm' | translate"></p-message>
    </div>

    <p-button type="button" icon="pi pi-angle-left" [disabled]="activationComplete"
              routerLink="/registration" [label]="'user.registration.forms.activation.back' | translate"></p-button>
    <p-button type="submit" [disabled]="!form.valid || password !== passwordConfirm || activationComplete"
              [label]="'user.registration.forms.activation.submit' | translate"></p-button>
    <p-button type="button" routerLink="/linkToSteam" icon="pi pi-angle-right" iconPos="right"
              [disabled]="!activationComplete"
              [label]="'user.registration.forms.activation.proceed' | translate"></p-button>

    <p-messages></p-messages>
  </form>
</p-card>
