<p-card
  [header]="'user.registration.headers.activation' | translate"
  [subheader]="'user.registration.headers.activation.description' | translate"
>
  <p-message severity="warn" [escape]="false"
             *ngIf="!token"
             [text]="'user.registration.forms.activation.emailWarning' | translate"
  ></p-message>
  <p-message severity="error"
             *ngIf="tokenExpired"
             [text]="'user.registration.forms.activation.expiredToken' | translate"
  ></p-message>
  <p-message severity="error"
             *ngIf="!validToken"
             [text]="'user.registration.forms.activation.invalidToken' | translate"
  ></p-message>

  <form #form="ngForm" (ngSubmit)="onSubmit($event)">
    <h4 translate
        [translateParams]="{'username': username || ('user.registration.forms.activation.unknownUser' | translate)}">
      user.registration.forms.activation.hello</h4>
    <p><small>
      {{'user.registration.forms.activation.wrongDataHint' | translate}}
      <a routerLink="../registration" translate="user.registration.forms.activation.backToRegistration"></a>
    </small></p>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
      <input pInputText type="password" name="passwordInput" #passwordInput="ngModel" [(ngModel)]="password"
             [disabled]="!token"
             aria-describedby="password-help" required minlength="8"
             [placeholder]="'user.registration.forms.password.caption' | translate">
    </div>

    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-replay"></i></span>
      <input pInputText type="password" name="passwordConfirmInput" #passwordConfirmInput="ngModel"
             [disabled]="!token"
             [(ngModel)]="passwordConfirm" aria-describedby="password-help"
             [placeholder]="'user.registration.forms.password.confirmCaption' | translate">
    </div>
    <div id="password-help">
      <p-message *ngIf="passwordInput.errors?.required" severity="error"
                 [text]="'user.registration.forms.password.errors.required' | translate"></p-message>
      <p-message *ngIf="passwordInput.errors?.minlength" severity="error"
                 [text]="'user.registration.forms.password.errors.minlength' | translate"></p-message>
      <p-message *ngIf="password !== passwordConfirm" severity="error"
                 [text]="'user.registration.forms.password.errors.notEqualsConfirm' | translate"></p-message>
    </div>

    <p>
      <p-button type="submit" [disabled]="false"
                [label]="'user.registration.forms.activation.submit' | translate"></p-button>
      <p-button type="button" routerLink="/linkToSteam" icon="pi pi-angle-right" iconPos="right"
                [disabled]="!activationComplete"
                [label]="'user.registration.forms.activation.proceed' | translate"></p-button>
    </p>

    <p-messages></p-messages>
  </form>
</p-card>
